/* ===========================
   About Page
   =========================== */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  color: white !important;
}

.tech-icons {
  display: flex !important;
  align-self: center !important;
  justify-content: center !important;
  font-size: 1rem !important;
  margin: 15px !important;
  padding: 10px 20px !important;
  opacity: 0.93 !important;
  outline: 1.7px solid var(--accent-glow) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 24px !important;
  box-shadow: 4px 5px 4px 3px var(--accent-dim) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  width: fit-content !important;
  cursor: pointer !important;
  color: white;
}

.tech-icons-text {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  outline: 2.2px solid var(--accent) !important;
}

.tech-icon-images {
  height: 1.6rem;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

.blockquote-footer {
  color: #a588c0 !important;
}
